footer{
    position: relative;height: 180vh;
    .container{
        .signup{
            @include flexx;justify-content: center;padding-top: 82px;

            h2{width: 100%;@include flexcenter;text-transform: capitalize;color: #0493A3;font-size: 35px;font-family: 'ex-bold';margin-bottom: 36px;text-align: center;}
            h3{font-size: 24px;font-family: 'ex-bold';text-transform: capitalize;color:#27226B}
            p{font-size: 24px;font-family: 'regular';color: #27226B;}
            #email{width: 100%;height: 53px;font-size: 26px;font-family: 'regular';}
            #sign{width: 50%;height: 53px;margin-left: 12px;margin-top: 20px;background-color: #27226B;font-size: 26px;font-family: 'regular';color: white;text-transform: capitalize;}
            .inner{width: 100%;margin-top: 40px;text-align: center}
            #links{
                @include flexx;;
                h3{width:100%;}
                a{width: 100%;color: #27226B;font-size: 24px;font-family: 'regular';}
            }
        }

       
    }

    #t-left{position: absolute;top: 10px;left: 23px;width: 78px;height: 78px;}
    #t-right{position: absolute;top: 10px;right: 10px;width: 120px;height: 88px;}
    #b-left{position: absolute;bottom: 0;left: 73px;height: 150px;width: 100px;}
    #footer-bg{position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;z-index: -1;}
}


@media screen and (min-width: 375px){
    footer{height: 155vh;}
}
@media screen and (min-width: 414px){
    footer{height: 140vh;}
}

@media screen and (min-width: 568px){
    footer{height: 260vh;
    #b-left{left: 10px;}
    }
}

@media screen and (min-width: 768px){
    footer{height: 85vh;}
}

@media screen and (min-width: 1024px){
    footer{
        height: 65vh;
        .container{
            .signup{
                #email{width: 60%;}
                #sign{width: 30%;margin: 0 0 0 25px;}
                .inner {width: 30%;}
            }
        }
    }   
}




@media screen and (min-width:1200px){
    footer{position: relative;height: 532px;
        .container{
            .signup{
                @include flexx;justify-content: center;padding-top: 82px;
    
                h2{width: 100%;@include flexcenter;text-transform: capitalize;font-size: 45px;margin-bottom: 36px;}
                h3{font-size: 24px;text-transform: capitalize;}
                p{font-size: 24px;}
                #email{width: 55%;height: 53px;font-size: 26px;}
                #sign{width: 20%;height: 53px;margin-left: 12px;font-size: 26px;}
                .inner{width: 30%;margin-top: 40px}
                #links{
                    @include flexx;;
                    h3{width:100%;}
                    a{width: 100%;font-size: 24px;;}
                }
            }
    
           
        }
    
        #t-left{position: absolute;top: 63px;left: 23px;width: 78px;height: 78px;}
        #t-right{position: absolute;top: 87px;right: 20px;width: 120px;height: 88px;}
        #b-left{position: absolute;bottom: 0;left: 73px;height: 220px;width: 102px;}
        #footer-bg{position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;z-index: -1;}
    }

}